.section-subheading {
    font-size: 20px;
  }
  

  .image-container {
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Change the values to adjust the shadow */
  }
  
  .image-container img {
    display: block;
  }
  