.media.stream-item.view-compact-citation img {
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .media.stream-item.view-compact-citation img {
    max-width: 150px;
  }
}